/* Header styles*/
.my-main-menu {
    width: 90%;
    margin: 2.5rem 5%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    opacity: 85%;
    color: white;
    padding: .5rem 2rem;
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .site-title {
        display: inline-flex;
        color: white;
    }
}

.custom-logo {
    max-width: 2.5rem;
}

.my-navbar {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    align-items: center;

    li {
        list-style: none;

        a {
            color: white;
        }
    }
}

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 40em) {

    .my-main-menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}