.card {
    box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    min-width: 18rem;
    max-width: 18rem;
    list-style: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 1rem;
}

.card-img {
    min-width: 100%;
    min-height: 150px;
    border-radius: 5px 5px 0 0;
}

.card-container-img {
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.post-container{
    margin: 3rem 20rem;
}

.post-title{
    margin: 3rem 0;
}