/* Header styles*/
.my-main-menu {
  width: 90%;
  margin: 2.5rem 5%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  opacity: 85%;
  color: white;
  padding: .5rem 2rem;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .my-main-menu .site-title {
    display: inline-flex;
    color: white; }

.custom-logo {
  max-width: 2.5rem; }

.my-navbar {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  align-items: center; }
  .my-navbar li {
    list-style: none; }
    .my-navbar li a {
      color: white; }

.slicknav_menu {
  display: none; }

@media screen and (max-width: 40em) {
  .my-main-menu {
    display: none; }
  .slicknav_menu {
    display: block; } }

/* General Styles */
.relative-container.elementor-widget {
  position: relative;
  min-height: 80vh;
  overflow: hidden; }

.background-element.elementor-widget {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

.background-element.elementor-widget img {
  height: 100%;
  max-width: unset;
  object-fit: cover; }

.content-container.elementor-widget {
  height: 100%;
  width: 100%; }

.ast-container {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none; }

.ast-separate-container #primary {
  padding: 0;
  margin: 0;
  width: 100%; }

.ast-narrow-container .site-content > .ast-container {
  max-width: none; }

.ast-plain-container.ast-no-sidebar #primary {
  margin: 0; }

.foto-persona {
  max-width: 200px; }

.red-header {
  width: 100%;
  height: 9rem;
  background-color: #cf0610; }

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem 15rem;
  gap: 1rem; }

.red-line {
  border-top: 0.2rem solid #E50914;
  height: 0.125rem;
  width: 3rem;
  padding: 0;
  margin: 0.5rem 0; }

.content-p {
  margin: 0; }

.layout-container {
  margin: 0rem 15rem; }

.card {
  box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  min-width: 18rem;
  max-width: 18rem;
  list-style: none; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.card-content {
  padding: 1rem; }

.card-img {
  min-width: 100%;
  min-height: 150px;
  border-radius: 5px 5px 0 0; }

.card-container-img {
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center; }

.post-container {
  margin: 3rem 20rem; }

.post-title {
  margin: 3rem 0; }

.double-container {
  width: 100%;
  display: flex; }

.column-one {
  display: grid;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 5rem 5rem 5rem 7.5rem; }

.column-two {
  display: grid;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 80vh;
  padding: 5rem 7.5rem 5rem 5rem;
  color: white; }

.container-video {
  display: flex;
  justify-content: center; }

.badge-video {
  width: 80%;
  background-color: black;
  margin: 5rem;
  padding: 3rem;
  border-radius: 5px;
  color: white;
  text-align: center; }

.badge-tools {
  width: 100%;
  background-color: #e7e7e7;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2);
  border-radius: 5px; }

.btn-more {
  width: 40%;
  background-color: #E50914;
  color: white;
  border: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px; }

.btn-more:hover {
  color: black;
  background-color: #e7e7e7;
  transition: 1s;
  -webkit-tap-highlight-color: transparent; }

.btn-more:visited {
  color: white;
  -webkit-tap-highlight-color: transparent; }

.section-title {
  margin: 3rem;
  text-align: center; }

.text-light {
  color: white; }

.text-dark {
  color: black; }

.text-red {
  color: #E50914; }

.mt-5 {
  margin-top: 3rem; }

.mb-1 {
  margin-bottom: .5rem; }

.mb-3 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 3rem; }

.m-5 {
  margin: 3rem; }

.m-0 {
  margin: 0; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }
